:root {
  --primary-color: #fa709a;
  --secondary-color: #5e5253;
}
body {
  background: #faeee7;
  text-align: center;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 120px;
  color: #33272a;
}
h2,
h3 {
  font-family: "Merriweather", serif;
}
h2 {
  font-size: 50px;
  color: var(--secondary-color);
}
h1,
h3 {
  text-decoration: var(--primary-color) underline;
}
h3 {
  font-size: 35px;
}
.fa-brands {
  padding-top: 30px;
  font-size: 36px;
  color: var(--primary-color);
}
.social-links a {
  padding: 15px;
  text-decoration: none;
  color: white;
}
.navbar {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}
.btn-branding {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}
.mt-5 {
  margin-top: 120px !important;
}
.rounded {
  border-radius: 80px !important;
}
.my-image {
  border-radius: 50%;
  border: 8px dotted var(--primary-color);
}
.basic-project,
.my-portrait,
.weather-app,
.dictionary-app {
  border-radius: 50px;
}
.weather-app {
  max-height: 500px !important;
}
.my-portrait {
  max-height: 600px;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
.paragraph-about-me {
  font-size: 25px;
}
.skills i {
  padding: 10px;
  font-size: 70px;
}
.contact-icons {
  font-size: 170px;
  color: var(--primary-color);
  background: var(--secondary-color);
  border-radius: 50%;
  padding: 30px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    text-align: left;
  }
  .text-sm-start {
    margin-left: 3px !important;
  }
  .paragraph-about-me {
    font-size: 18px;
  }
  .open-sourced {
    text-align: center;
  }
}
