:root {
  --primary-color: #fa709a;
  --secondary-color: #5e5253;
}
body {
  background: #faeee7;
  text-align: center;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 120px;
  color: #33272a;
}
h2,
h3 {
  font-family: "Merriweather", serif;
}
h2 {
  font-size: 50px;
  color: var(--secondary-color);
}
h3 {
  font-size: 35px;
  text-decoration: var(--primary-color) underline;
}
.fa-brands {
  padding-top: 30px;
  font-size: 36px;
  color: var(--primary-color);
}
.social-links a {
  padding: 15px;
  text-decoration: none;
  color: white;
}
.navbar {
  background: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}
.btn-branding {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}
.mt-5 {
  margin-top: 120px !important;
}
.rounded {
  border-radius: 80px !important;
}
.my-image {
  border-radius: 100px;
}
@media (max-width: 657px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
}
